*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* rgb(146, 145, 145); Pick This grey color */

body::-webkit-scrollbar{   /*To hide scrollbar from right */
    display: none;
}


img{
    cursor: pointer;  /* Will make the curson pointer type(hand vala) of every image*/
}

/* Navigation */

#Navigation_div1 img{
    width:100.2%;
    height: 23rem;
}

#Navigation_div2{
    /* padding: 20px; */
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    position:absolute ;
    top: 0;
    left: 0;
    right: 0;
}
#Navigation_div2 div{
    display: flex;
    gap: 20px;
}

#Navigation_div2 div a{
    text-decoration: none;
    color: white;
}




/* commercial buying */


#article_div1{
    display: flex;
    justify-content:space-between ;
    margin: 20px;
   
}
#article_head{
    color: rgba(13, 105, 210, 0.765);
}
#article_div2{
    display: flex;
    gap: 15px;
    margin: 20px;
}
.div2-head {
    color: grey;
    
}

.div2-head:hover {
    color: black;
}

#mainarticle_images{
    display: flex;
    margin: 20px;
    gap: 20px;
}
.article-div3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article_image{
    height: 160px;
    width: 300px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    border-radius: 3%;
}
.article_image:hover{
    transform: scale(1.1);
}

.tax_subtitle{

    font-weight: 550;

}

.tax_para{
    font-size: 13px;
    color: rgb(146, 145, 145);;
}


#main_register{
    padding: 3rem;
    line-height: 50px;
}

.register{
    background-color: rgba(247, 251, 165, 0.139);
    padding: 3rem;
    display: flex;
    gap: 10rem;
    border-radius: 12px;
}

.register div h5{
    color: rgb(146, 145, 145);
}

.NumbersInLakhs{
    display: flex;
    gap: 30px;

}
.NumbersInLakhs h4{
    font-size: 40px;
    font-weight: 500;
}
.NumbersInLakhs p{
    font-size: 14px;
    line-height: 30px;
}

#malefemalelaptop_img{
    border-radius: 10px;
    height: 26rem;
    width: 29rem;
}



.Button_Post{
    padding-top: 50px;
}

.Post{
    height: 50px;
    width: 250px;
    background-color: rgb(89, 89, 249);
    color: white;
    border: none;
    border-radius: 5px;
}

.Post_Para{
    line-height: 50px;
    font-size: small;
}


/* third last main */


.main_exclusive{
    margin-top: 80px;
}
#exclusive_div{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
#exclusive_head5{
    color: rgb(146, 145, 145);
}
#image_exclusive{
    height: 200px;
    width: 300px;
    padding-top: 40px;
}



/* second last  */


#second_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    margin-bottom: 60px;
}
#second_div_head1{
    color: rgb(146, 145, 145);
}
#second_div_head2{
    font-size: 35px;
}

#main_heading_icon{
    font-size: 30px;
    color: rgb(65, 65, 255);
    margin-bottom: 25px;
}

.main_heading_para{
    font-size: medium;
    color: rgb(146, 145, 145);
}

.main_second_Items{
    display: flex;
    justify-content: space-around;
}

.main_heading_{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 10px;
}



.main_heading_2_1{
    color: grey;
}
.para1{
    color: grey;
}




                    /* Main end ki bari */



.mainend{
    padding: 4rem;
}
                    
#mainend_heading_1{
    font-size: 14px;
    color: rgb(132, 128, 128);
}
                    
.mainend_images{                    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;                
}                    
                   
.city-section {
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}
                    
.city-image {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    
}

.city-image:hover{
    transform: scale(1.1);   
}
                    
.city-info {
    line-height: 2rem;
    padding-left: 20px;
}
                    
.city-head {
    font-size: medium;
}
                    
.city-subhead {
    font-size: small;
    color: grey;
}

#Banner{
    margin: 2rem;
}


#BannerImage{
    height: 330px;
    width: 1200px;
}



                    /* Footer ki bari */      
                    
                

#footer{
    padding-top: 3rem;
    background-color: rgb(32, 31, 31);
    display: flex;
    justify-content: space-evenly;
}
.anchor{
    text-decoration: none;
    color: white;
}
.listnone{
    color: white;
    list-style: none;
    line-height: 2.5rem;
}
#contact_head5{
    color: grey;
}

.endicons{
    display: flex;
    gap: 35px;
    margin-bottom: 2rem;
}

.icons{
    font-size: 22px;
}

.DownloadApps{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.Download_ShelterSeek{
    height:50px;
}

#footerpara{
    font-size: xx-small;
}
